/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-enable */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (forced-colors: active) {
  :root {
    forced-color-adjust: none;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui',
    'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply ~text-[2.67rem]/[4.735rem];
    @apply font-bold;
  }

  h2 {
    @apply ~text-[1.367rem]/[1.999rem];
    @apply font-bold;
  }

  a {
    @apply underline;
    @apply decoration-transparent;
    @apply transition duration-300 ease-in-out;
  }
}
